module.exports.urldecode = function (str) {
  return decodeURIComponent(str);
};
module.exports.getStaticUrl = function (url) {
  if (url.indexOf("https://") == 0 || url.indexOf("http://") == 0) {
    return url;
  } else {
    return "https://bbbug.hamm.cn/uploads/" + url;
  }
};
module.exports.getImageWidth = function (url) {
  if (url.indexOf('images/emoji/') >= 0) {
    return 60;
  } else {
    return 160;
  }
};

module.exports.friendlyTime = function (time) {
  var now = parseInt(getDate().valueOf() / 1000);
  var todayDate = getDate();
  var todayTimeStamp = parseInt(Date.parse(getDate(todayDate.getFullYear() + "-" + (todayDate.getMonth() + 1) + '-' + todayDate.getDate() + " 00:00:00")) / 1000);
  var date = getDate(time * 1000);
  var y = date.getFullYear(),
    m = date.getMonth() + 1,
    d = date.getDate(),
    h = date.getHours(),
    i = date.getMinutes(),
    s = date.getSeconds();
  if (m < 10) {
    m = '0' + m;
  }
  if (d < 10) {
    d = '0' + d;
  }
  if (h < 10) {
    h = '0' + h;
  }
  if (i < 10) {
    i = '0' + i;
  }
  if (time > todayTimeStamp) {
    return h + ":" + i;
  } else if (now - time < 86400 * 365) {
    return m + "-" + d + " " + h + ":" + i;
  } else {
    return y + "-" + m + "-" + d;
  }
  // var now = parseInt(getDate().valueOf() / 1000);
  // if (now - time <= 60) {
  //   return '刚刚';
  // } else if (now - time > 60 && now - time <= 3600) {
  //   return parseInt((now - time) / 60) + '分钟前'
  // } else if (now - time > 3600 && now - time <= 86400) {
  //   return parseInt((now - time) / 3600) + '小时前'
  // } else if (now - time > 86400 && now - time <= 86400 * 7) {
  //   return parseInt((now - time) / 86400) + '天前'
  // } else if (now - time > 86400 * 7 && now - time <= 86400 * 30) {
  //   return parseInt((now - time) / 86400 / 7) + '周前'
  // } else if (now - time > 86400 * 30 && now - time <= 86400 * 30 * 12) {
  //   return parseInt((now - time) / 86400 / 30) + '月前'
  // } else {
  //   return parseInt((now - time) / 86400 / 365) + '年前'
  // }
}